<!doctype html>
<title>Hello from Flask</title>


<div id="test1"> 
 		<header> 
 			<p>10<tab></tab>23:00<tab></tab>10</p> 
 		</header>
     <style>
       #test1 
        { 
          font-size: 5vh;
          font-family: 'Open Sans', sans-serif;
          width:100vw; 
          height:15vh; 
          text-align: start; 
          background-color: {{colour}}; 
          //word-wrap: break-word; /* words won't go from the boundry */ 
          margin: 0px 0px 0px; 
          /* top, left, bottom*/ 
          padding: 0px 5px 0px; 
          float: left; 
          
        } 
      </style>
 	</div> 

